<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.softdesign.devintensive">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera2.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".utils.DevIntensiveApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/dummy.app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <!-- BaseActivity -->
        <activity android:name=".ui.activities.BaseActivity" />

        <!-- AuthActivity -->
        <activity
            android:name=".ui.activities.AuthActivity"
            android:launchMode="singleTask" />

        <!-- MainActivity -->
        <activity
            android:name=".ui.activities.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />

        <!-- UserListActivity -->
        <activity
            android:name=".ui.activities.UserListActivity"
            android:launchMode="singleTask" />

        <!-- UserProfileActivity -->
        <activity
            android:name=".ui.activities.UserProfileActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.activities.UserListActivity" />

        <!-- VKServiceActivity -->
        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:launchMode="singleTask"
            android:theme="@style/VK.Transparent" />

        <!-- Glide -->
        <meta-data
            android:name="com.softdesign.devintensive.data.network.CustomGlideModule"
            android:value="GlideModule" />

        <activity
            android:name=".ui.activities.SplashActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>